@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  background: white;
}

.header {
  min-height: 50vh;
}

.navMain {
  width: 100%;
  min-height: 17vh;
}

nav {
  min-height: 17vh;
  width: 100%;
  color: wheat;
  position: fixed;
  z-index: 5;
}

nav .navWrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 500;
}

nav .navWrapper .navLogo {
  height: 80px;
  width: 250px;
}

nav .navWrapper .navLogo img {
  height: 100%;
  width: 100%;
}

nav .navWrapper .navLinks {
  margin-top: 15px;
}

nav .navWrapper .navLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-size: 1.2rem;
}

nav .navWrapper .navLinks li {
  margin-right: 27px;
}

nav .navWrapper .navLinks li a {
  text-decoration: none;
  color: black;
  position: relative;
}

nav .navWrapper .navLinks li a::after {
  position: absolute;
  margin: 0;
  bottom: -3px;
  left: 0;
  right: 0;
  content: "";
  width: 0;
  height: 3px;
  z-index: 1;
  background: #2222a5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .navWrapper .navLinks li a:hover::after {
  width: 100%;
}

nav .navWrapper .navUser {
  height: 100px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navWrapper .navUser .userImage {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userImage img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

nav .navWrapper .navUser .userName {
  width: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
}

.abtBread {
  height: 30vh;
  background: blue;
}

.abtBread .aboutBanner {
  height: 70%;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#567dc0), color-stop(41%, #3b5d9b), to(#26457d));
  background: linear-gradient(90deg, #567dc0 0%, #3b5d9b 41%, #26457d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#7f63ff",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
}

.abtBread .breadCrumbs {
  height: 30%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 15px 42px -26px #2c15d9;
  box-shadow: 2px 15px 42px -26px #2c15d9;
  color: #0c6096;
  font-size: 1.3rem;
}

.abtBread .breadCrumbs .rightArrow {
  margin: 3px 10px 0 10px;
}

.main {
  min-height: 40vh;
}

.main .mainContainer {
  padding: 4% 0;
}

.main .mainContainer .carouselItem {
  width: 100%;
  padding: 0 8% 0 5%;
}

.main .mainContainer .carouselItem .paginationArrow {
  width: 110%;
  -webkit-transform: translate(-50px, -140px);
          transform: translate(-50px, -140px);
}

.main .mainContainer .carouselItem .swiper-container {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 40px;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper {
  padding: 0 1%;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide {
  height: 300px;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain {
  height: 260px;
  width: 250px;
  -webkit-box-shadow: 0px 2px 22px -7px rgba(92, 92, 92, 0.75);
  box-shadow: 0px 2px 22px -7px rgba(92, 92, 92, 0.75);
  border-radius: 15px;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardImg {
  height: 172.5px;
  width: 250px;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardImg img {
  height: 100%;
  width: 100%;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardBody {
  text-align: center;
  padding-top: 5px;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardBody p {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 700;
  color: black;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardBody .subPara {
  font-weight: 400;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardFooter {
  padding: 12px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardFooter .travelBanner {
  height: 20px;
  width: 45px;
  background: #48bb58;
  color: white;
  font-size: 0.65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .mainContainer .carouselItem .swiper-container .swiper-wrapper .swiper-slide .cardMain .cardFooter .dateTime {
  font-size: 0.7rem;
}

.blogItemSearch {
  min-height: 100vh;
}

.blogItemSearch .blogItemContainer {
  padding: 2% 8%;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard {
  -webkit-box-shadow: 0px 2px 22px -7px rgba(77, 77, 77, 0.75);
  box-shadow: 0px 2px 22px -7px rgba(77, 77, 77, 0.75);
  width: 100%;
  height: 230px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardImage {
  height: 230px;
  width: 100%;
  border-radius: 15px 0 0 15px;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardImage img {
  height: 100%;
  width: 100%;
  border-radius: 15px 0 0 15px;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody {
  padding: 20px 15px 20px 0;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody .cardHead p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 700;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody .cardHead .authName {
  font-size: 0.86rem;
  font-weight: 400;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody .cardHead .headButTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody .cardHead .headButTime .greenBg {
  height: 20px;
  width: 45px;
  background: #48bb58;
  color: white;
  font-size: 0.6rem;
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody .cardHead .headButTime .dateTime {
  margin-left: 30px;
  font-size: 0.7rem;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody .bodyPara {
  font-size: 0.9rem;
  font-weight: 400;
}

.blogItemSearch .blogItemContainer .lftCards .mainCard .cardBody .bodyPara .readMore {
  background: #244784;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 90px;
  color: white;
  height: 30px;
  font-size: 0.8rem;
}

.blogItemSearch .blogItemContainer .lftCards .loadMore {
  margin: 5% 0 0 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a6abd), to(#244784));
  background: linear-gradient(to bottom, #3a6abd, #244784);
  outline: none;
  border: none;
  font-size: 0.9rem;
  border-radius: 20px;
  width: 120px;
  color: white;
  height: 40px;
  font-weight: 600;
}

.blogItemSearch .blogItemContainer .lftCards .loadMore:hover {
  background: #fff;
  color: black;
  border: 2px solid blue;
}

.blogItemSearch .rytContent {
  padding: 0 0 0 20%;
}

.blogItemSearch .rytContent .searchSec {
  -webkit-box-shadow: 0px 2px 12px -7px rgba(77, 77, 77, 0.75);
  box-shadow: 0px 2px 12px -7px rgba(77, 77, 77, 0.75);
  height: 110px;
  border-radius: 20px;
  padding: 15px 15px 20px 15px;
  width: 320px;
}

.blogItemSearch .rytContent .searchSec .srchBarBtn {
  padding-top: 5px;
}

.blogItemSearch .rytContent .searchSec .srchBarBtn input {
  outline: none;
  border: 2px solid #0c6096;
  height: 38px;
  width: 220px;
  padding-left: 10px;
  font-size: 0.9rem;
  border-radius: 6px;
}

.blogItemSearch .rytContent .searchSec .srchBarBtn .srchBtn {
  height: 38px;
  width: 50px;
  outline: 0;
  border: none;
  border-radius: 9px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#284d92), to(#26529e));
  background: linear-gradient(to right, #284d92, #26529e);
}

.blogItemSearch .rytContent .popularSec {
  -webkit-box-shadow: 0px 2px 12px -7px rgba(77, 77, 77, 0.75);
  box-shadow: 0px 2px 12px -7px rgba(77, 77, 77, 0.75);
  padding: 2% 6%;
  margin-top: 30px;
  border-radius: 20px;
}

.blogItemSearch .rytContent .popularSec h6 {
  font-size: 1.2rem;
}

.blogItemSearch .rytContent .popularSec .popularImage {
  margin: 20px 0 30px;
  height: 180px;
  position: relative;
  border-radius: 10px;
}

.blogItemSearch .rytContent .popularSec .popularImage .upNumber {
  position: absolute;
  top: -15px;
  left: 42%;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #824c0c;
  font-weight: 600;
  border-radius: 50%;
  background-color: #feb969;
}

.blogItemSearch .rytContent .popularSec .popularImage img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.newsLetter {
  min-height: 20vh;
  padding: 3% 5%;
  background: url(../ASSETS/IMAGES/18307.jpg);
  background-size: contain;
}

.newsLetter .newsLetterContent {
  margin: 0 auto;
  padding: 30px 50px 20px 50px;
  background: rgba(255, 255, 255, 0.863);
  height: 40%;
  width: 70%;
}

.newsLetter .newsLetterContent h3 {
  font-weight: 800;
  font-size: 1.4rem;
  margin: 0;
}

.newsLetter .newsLetterContent p {
  font-size: 0.7rem;
  width: 70%;
  color: #505050;
  font-weight: 500;
}

.newsLetter .newsLetterContent .newLetBox {
  -webkit-box-shadow: 0px 1px 9px 1px rgba(224, 224, 224, 0.75);
  box-shadow: 0px 1px 9px 1px rgba(240, 240, 240, 0.75);
  padding: 15px 5px 0 10px;
  border: none;
}

.newsLetter .newsLetterContent .mailBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e6e6e6;
  width: auto;
  height: 50px;
}

.newsLetter .newsLetterContent .mailBtn input {
  border: none;
  height: 100%;
  font-size: 0.7rem;
  color: #3a3a3a;
  outline: none;
  width: 100%;
}

.newsLetter .newsLetterContent .mailBtn input:focus {
  border: none;
}

.newsLetter .newsLetterContent .mailBtn button {
  height: 75%;
  width: 90px;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a6abd), to(#244784));
  background: linear-gradient(to bottom, #3a6abd, #244784);
}

.footer {
  height: 100%;
  padding: 4% 2% 2% 3%;
  background: url("../ASSETS/IMAGES/Background.svg");
  background-size: cover;
}

.footer .footerContent .footerLogo {
  height: 50px;
  margin-bottom: 20px;
}

.footer .footerContent .footerLogo img {
  height: 100%;
}

.footer .footerContent .footerPara {
  padding-top: 2%;
  font-weight: 500;
  width: 100%;
  font-size: 0.9rem;
}

.footer .footerContent .middleFooter {
  margin-top: 50px;
}

.footer .footerContent .middleFooter .footerConHeading {
  font-size: 0.85rem;
}

.footer .footerContent .middleFooter .footerConHeading h5 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .footerConHeading h5::before {
  position: absolute;
  content: "";
  margin: 5px 0;
  height: 6px;
  width: 18%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter ul {
  list-style: none;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #252525;
  font-weight: 500;
  cursor: pointer;
}

.footer .footerContent .middleFooter .contactdetails {
  font-size: 0.85rem;
  width: 80%;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading {
  padding-bottom: 10px;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 10%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter .contactdetails .footDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .lftDetail {
  width: 100%;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .rytDetail {
  margin-left: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerContent .footerConHeading {
  font-size: 1rem;
}

.footer .footerContent .rytFooter {
  margin-top: 50px;
}

.footer .footerContent .rytFooter .footerConHeading2 h4 {
  position: relative;
  color: #2f2fd1;
  font-weight: 700;
}

.footer .footerContent .rytFooter .footerConHeading2 h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 18%;
  background: #6e6ef8;
  top: 100%;
  left: 0;
}

.footer .footerContent .rytFooter .footerSocial {
  padding-top: 25px;
}

.footer .footerContent .rytFooter .footerSocial img {
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.scrollToTopBtn {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 2%;
  bottom: 50px;
  z-index: 999;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px double #2b65e4;
  background: white;
  color: black;
  -webkit-box-shadow: 0px 10px 31px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 31px -10px rgba(117, 117, 117, 0.75);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: toTopBtn 1.3s ease-in-out infinite;
          animation: toTopBtn 1.3s ease-in-out infinite;
}

@-webkit-keyframes toTopBtn {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 4px double #1552d6;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    border: 4px double white;
  }
}

@keyframes toTopBtn {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 4px double #1552d6;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    border: 4px double white;
  }
}

.scrollToTopBtn:hover {
  background: #1256e765;
  border: 4px double white;
}
/*# sourceMappingURL=blogCombined.css.map */