@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  background: white;
}

.header {
  min-height: 50vh;
}

.navMain {
  width: 100%;
  min-height: 17vh;
}

nav {
  min-height: 17vh;
  width: 100%;
  color: wheat;
  position: fixed;
  z-index: 5;
}

nav .navWrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 500;
}

nav .navWrapper .navLogo {
  height: 80px;
  width: 250px;
}

nav .navWrapper .navLogo img {
  height: 100%;
  width: 100%;
}

nav .navWrapper .navLinks {
  margin-top: 15px;
}

nav .navWrapper .navLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-size: 1.2rem;
}

nav .navWrapper .navLinks li {
  margin-right: 27px;
}

nav .navWrapper .navLinks li a {
  text-decoration: none;
  color: black;
  position: relative;
}

nav .navWrapper .navLinks li a::after {
  position: absolute;
  margin: 0;
  bottom: -3px;
  left: 0;
  right: 0;
  content: "";
  width: 0;
  height: 3px;
  z-index: 1;
  background: #2222a5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .navWrapper .navLinks li a:hover::after {
  width: 100%;
}

nav .navWrapper .navUser {
  height: 100px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navWrapper .navUser .userImage {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userImage img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

nav .navWrapper .navUser .userName {
  width: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
}

.abtBread {
  height: 30vh;
  background: blue;
  -webkit-box-shadow: 2px 35px 42px -27px #adc8fe;
  box-shadow: 2px 35px 42px -27px #adc8fe;
}

.abtBread .aboutBanner {
  height: 70%;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#567dc0), color-stop(41%, #3b5d9b), to(#26457d));
  background: linear-gradient(90deg, #567dc0 0%, #3b5d9b 41%, #26457d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#7f63ff",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
}

.abtBread .breadCrumbs {
  height: 30%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c6096;
  font-size: 1.3rem;
}

.abtBread .breadCrumbs .rightArrow {
  margin: 3px 10px 0 10px;
}

.main {
  height: 100%;
}

.main .mainContainer {
  padding: 5% 8%;
}

.main .mainContainer .mainContent .lftCont .form-group {
  margin-bottom: 35px;
}

.main .mainContainer .mainContent .lftCont .email input {
  position: relative;
  width: 410px;
  height: 45px;
  outline: none;
  border: 2px solid #8078ff;
  padding: 10px;
  border-radius: 5px;
}

.main .mainContainer .mainContent .lftCont .email input:focus + label,
.main .mainContainer .mainContent .lftCont .email input.not-empty + label {
  -webkit-transform: translate(-10px, -36px);
          transform: translate(-10px, -36px);
}

.main .mainContainer .mainContent .lftCont .email label {
  position: absolute;
  left: 35px;
  top: 13px;
  color: #73a1c2;
  font-size: 0.95rem;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.main .mainContainer .mainContent .lftCont .subject select {
  width: 410px;
  height: 45px;
  border: 2px solid #8078ff;
  color: #73a1c2;
  font-size: 0.95rem;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.main .mainContainer .mainContent .lftCont .message {
  position: relative;
}

.main .mainContainer .mainContent .lftCont .message textarea {
  position: relative;
  border: 2px solid #8078ff;
  outline: none;
  padding: 20px 0 0 20px;
  resize: none;
  border-radius: 5px;
}

.main .mainContainer .mainContent .lftCont .message textarea:focus + label,
.main .mainContainer .mainContent .lftCont .message textarea.not-empty + label {
  -webkit-transform: translate(-10px, -36px);
          transform: translate(-10px, -36px);
}

.main .mainContainer .mainContent .lftCont .message label {
  position: absolute;
  left: 20px;
  top: 14px;
  color: #73a1c2;
  font-size: 0.95rem;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.main .mainContainer .mainContent .lftCont button {
  position: relative;
  margin: 20px 25px 0 0;
  height: 50px;
  width: 180px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#1f3e77), to(#295093));
  background: linear-gradient(to right, #1f3e77, #295093);
  font-weight: 500;
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .mainContainer .mainContent .lftCont button:hover {
  background: white;
  border: 3px double #ada8ff;
  color: #133879;
}

.footer {
  min-height: 60vh;
  padding: 2%;
  padding: 4% 2% 2% 3%;
  background: url("../ASSETS/IMAGES/Background.svg");
  background-size: cover;
}

.footer .footerContent {
  padding-left: 3%;
}

.footer .footerContent .footerLogo {
  height: 50px;
  margin-bottom: 20px;
}

.footer .footerContent .footerLogo img {
  height: 100%;
}

.footer .footerContent .footerPara {
  padding-top: 2%;
  font-weight: 500;
  width: 85%;
}

.footer .footerContent .middleFooter {
  margin-top: 50px;
}

.footer .footerContent .middleFooter .footerConHeading {
  font-size: 1.3rem;
}

.footer .footerContent .middleFooter .footerConHeading h5 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .footerConHeading h5::before {
  position: absolute;
  content: "";
  margin: 5px 0;
  height: 6px;
  width: 18%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter ul {
  list-style: none;
  padding-top: 20px;
  font-size: 1rem;
  color: #252525;
  font-weight: 500;
  cursor: pointer;
}

.footer .footerContent .middleFooter .contactdetails {
  width: 80%;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading {
  padding-bottom: 10px;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 10%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter .contactdetails .footDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .lftDetail {
  width: 100%;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .rytDetail {
  margin-left: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerContent .footerConHeading {
  font-size: 1rem;
}

.footer .footerContent .rytFooter {
  margin-top: 50px;
}

.footer .footerContent .rytFooter .footerConHeading2 h4 {
  position: relative;
  color: #2f2fd1;
  font-weight: 700;
}

.footer .footerContent .rytFooter .footerConHeading2 h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 18%;
  background: #6e6ef8;
  top: 100%;
  left: 0;
}

.footer .footerContent .rytFooter .footerSocial {
  padding-top: 25px;
}

.footer .footerContent .rytFooter .footerSocial img {
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.scrollToTopBtn {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 2%;
  bottom: 50px;
  z-index: 999;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px double #2b65e4;
  background: white;
  color: black;
  -webkit-box-shadow: 0px 10px 31px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 31px -10px rgba(117, 117, 117, 0.75);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: toTopBtn 1.3s ease-in-out infinite;
          animation: toTopBtn 1.3s ease-in-out infinite;
}

@-webkit-keyframes toTopBtn {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 4px double #1552d6;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    border: 4px double white;
  }
}

.scrollToTopBtn:hover {
  background: #1256e765;
  border: 4px double white;
}
/*# sourceMappingURL=contact.css.map */
