@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  background: white;
}

nav {
  height: 100%;
  width: 100%;
  color: wheat;
  padding: 10px 30px;
}

nav .navWrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 500;
}

nav .navWrapper .navLogo {
  height: 80px;
  width: 250px;
}

nav .navWrapper .navLogo img {
  height: 100%;
  width: 100%;
}

nav .navWrapper .navLinks {
  margin-top: 15px;
}

nav .navWrapper .navLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-size: 1.2rem;
}

nav .navWrapper .navLinks li {
  margin-right: 27px;
}

nav .navWrapper .navLinks li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
}

nav .navWrapper .navLinks li a::after {
  position: absolute;
  margin: 0;
  bottom: -3px;
  left: 0;
  right: 0;
  content: "";
  width: 0;
  height: 3px;
  z-index: 1;
  background: #2222a5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .navWrapper .navLinks li a:hover::after {
  width: 100%;
}

nav .navWrapper .navUser {
  height: 100px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navWrapper .navUser .userImage {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userImage img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

nav .navWrapper .navUser .userName {
  width: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
}

.header {
  margin-bottom: 25px;
  height: 35vh;
}

.header .aboutBanner {
  height: 70%;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#567cc0), color-stop(41%, #3d609e), to(#224178));
  background: linear-gradient(90deg, #567cc0 0%, #3d609e 41%, #224178 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#7f63ff",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
}

.header .breadCrumbs {
  margin-bottom: 20px;
  height: 30%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 1px 9px 20px 0px #5341db;
  -webkit-box-shadow: 1px 0px 29px 0px #5341db;
  -moz-box-shadow: 1px 20px 20px 0px #5341db;
  color: #0c6096;
  font-size: 1.3rem;
}

.header .breadCrumbs .rightArrow {
  margin: 3px 10px 0 10px;
}

.main {
  min-height: 100%;
  padding: 3% 3%;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.main .mainContent {
  min-height: 100%;
}

.main .mainContent .sideBar ul {
  list-style: none;
}

.main .mainContent .sideBar ul li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.829);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

.main .mainContent .sideBar ul li .icoN {
  font-size: 1.2rem;
  margin-right: 6px;
}

.main .mainContent .sideBar ul li p {
  margin: 0 0 0 8px;
}

.main .mainContent .sideBar ul li:hover {
  -webkit-transform: scale(1.1) translateX(20px);
          transform: scale(1.1) translateX(20px);
}

.main .mainContent .sideBar ul .ico1 {
  color: #9080e9;
  margin-right: 8px !important;
}

.main .mainContent .sideBar ul .ico2 {
  color: #f8798a;
  margin-right: 8px !important;
}

.main .mainContent .sideBar ul .ico3 {
  color: #81e5f7;
  margin-right: 8px !important;
}

.main .mainContent .sideBar ul .ico4 {
  color: #49be55;
  margin-right: 6px !important;
}

.main .mainContent .sideBar ul .ico5 {
  color: #fd9982;
  margin-right: 12px !important;
  margin-left: 5px;
}

.main .mainContent .sideBar ul .ico6 {
  color: #eeb64a;
  margin-right: 10px !important;
  margin-left: 5px;
}

.main .mainContent .mainRyt {
  width: 100%;
  position: relative;
  height: 100%;
}

.main .mainContent .mainRyt .mainRytBg {
  position: absolute;
  z-index: 0;
  min-height: 30vh;
  width: 100%;
  background: #295094;
  top: 0;
}

.main .mainContent .mainRyt .mainRytContent {
  border-radius: 15px;
  margin-top: 2%;
  position: relative;
  z-index: 2;
  min-height: 100%;
  width: 100%;
  padding: 4% 0 4% 4%;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails {
  padding: 0 15px 0 0;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails {
  padding: 4% 8%;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 10px -1px rgba(138, 138, 138, 0.75);
  box-shadow: 0px -1px 10px -1px rgba(148, 148, 148, 0.75);
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .yrPDetailsHeadin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .yrPDetailsHeadin h5 {
  font-weight: 600;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .yrPDetailsHeadin p {
  font-size: 0.75rem;
  font-weight: 600;
  color: #757575;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .yrPDetailsHeadin p .editIcon {
  font-size: 1.1rem;
  color: black;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .yrPDetailsHeadin .editBtn {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .yrPDetailsHeadin .editBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .formContent {
  padding-top: 20px;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .formContent label {
  font-size: 0.9rem;
  font-weight: 600;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .formContent label span {
  color: red;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .formContent input {
  font-size: 0.9rem;
  border: 2px solid black;
  -moz-outline-radius: 5px;
  border-radius: 10px;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .butn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .persDetails .butn button {
  border: none;
  height: 35px;
  width: 70px;
  background: #295094;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails {
  margin-top: 20px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 10px -1px rgba(255, 255, 255, 0.75);
  box-shadow: 0px -1px 10px -1px rgba(255, 255, 255, 0.75);
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .yrPDetailsHeadin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .yrPDetailsHeadin h5 {
  font-weight: 600;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .yrPDetailsHeadin p {
  font-size: 0.75rem;
  font-weight: 600;
  color: #757575;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .yrPDetailsHeadin p .editIcon {
  font-size: 1.1rem;
  color: black;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .yrPDetailsHeadin .editBtn2 {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .yrPDetailsHeadin .editBtn2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .formContent {
  padding-top: 20px;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .formContent label {
  font-size: 0.9rem;
  font-weight: 600;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .formContent label span {
  color: red;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .formContent input {
  font-size: 0.9rem;
  border: 2px solid black;
  -moz-outline-radius: 5px;
  border-radius: 10px;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .butn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .mainContent .mainRyt .mainRytContent .lftDetails .bilDetails .butn button {
  border: none;
  height: 35px;
  width: 70px;
  background: #295094;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti {
  background: white;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0px -1px 10px -1px rgba(138, 138, 138, 0.75);
  box-shadow: 0px -1px 10px -1px rgba(148, 148, 148, 0.75);
  width: 100%;
  padding: 0;
  border-radius: 5px;
  height: 100%;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiHeading {
  height: 40px;
  padding: 5% 8%;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiHeading h6 {
  font-weight: 600;
  font-size: 1.15rem;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent {
  padding: 5% 8%;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 {
  margin-bottom: 20px;
  min-height: 90px;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .lftCont {
  position: relative;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .lftCont .ico::after {
  content: "";
  position: absolute;
  border-left: 1.8px dotted;
  top: 100%;
  left: 49%;
  height: 70px;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .lftCont .ico1 {
  position: relative;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #c0f0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2dce98;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .lftCont .ico2 {
  position: relative;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #fcc4cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5405a;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .lftCont .ico3 {
  position: relative;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #ffdbb2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #feb969;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .rytCont {
  padding-right: 5px;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .rytCont .subHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.7rem;
  font-weight: 600;
  color: #929292;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .cont1 .rytCont p {
  font-size: 0.8rem;
  font-weight: 600;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiContent .showMrCont.showMrDisp {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiFooter {
  font-size: 0.9rem;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiFooter .showMore {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.main .mainContent .mainRyt .mainRytContent .rytNoti .notiFooter .showMore:hover {
  color: #2457c4;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer {
  height: 100%;
  padding: 4% 2% 2% 3%;
  background: url("../ASSETS/IMAGES/Background.svg");
  background-size: contain;
}

.footer .footerContent {
  padding-left: 3%;
}

.footer .footerContent .footerLogo {
  height: 50px;
  margin-bottom: 20px;
}

.footer .footerContent .footerLogo img {
  height: 100%;
}

.footer .footerContent .footerPara {
  padding-top: 2%;
  font-weight: 500;
  width: 85%;
}

.footer .footerContent .middleFooter {
  margin-top: 50px;
}

.footer .footerContent .middleFooter .footerConHeading {
  font-size: 1.3rem;
}

.footer .footerContent .middleFooter .footerConHeading h5 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .footerConHeading h5::before {
  position: absolute;
  content: "";
  margin: 5px 0;
  height: 6px;
  width: 18%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter ul {
  list-style: none;
  padding-top: 20px;
  font-size: 1rem;
  color: #252525;
  font-weight: 500;
  cursor: pointer;
}

.footer .footerContent .middleFooter .contactdetails {
  width: 80%;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading {
  padding-bottom: 10px;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 10%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter .contactdetails .footDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .lftDetail {
  width: 100%;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .rytDetail {
  margin-left: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerContent .footerConHeading {
  font-size: 1rem;
}

.footer .footerContent .rytFooter {
  margin-top: 50px;
}

.footer .footerContent .rytFooter .footerConHeading2 h4 {
  position: relative;
  color: #2f2fd1;
  font-weight: 700;
}

.footer .footerContent .rytFooter .footerConHeading2 h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 18%;
  background: #6e6ef8;
  top: 100%;
  left: 0;
}

.footer .footerContent .rytFooter .footerSocial {
  padding-top: 25px;
}

.footer .footerContent .rytFooter .footerSocial img {
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.scrollToTopBtn {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 2%;
  bottom: 50px;
  z-index: 5;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#0c3896), to(#2b65e4));
  background: linear-gradient(to right, #0c3896, #2b65e4);
  color: black;
  -webkit-box-shadow: 0px 10px 31px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 31px -10px rgba(117, 117, 117, 0.75);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  -webkit-animation: toTopBtn 1.5s ease-in-out infinite;
          animation: toTopBtn 1.5s ease-in-out infinite;
}

@-webkit-keyframes toTopBtn {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
}

@keyframes toTopBtn {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: -webkit-gradient(linear, left top, right top, from(#3868cf), to(#0b3081));
    background: linear-gradient(to right, #3868cf, #0b3081);
  }
}
/*# sourceMappingURL=custYourDetail.css.map */