@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  background: white;
}

header {
  min-height: 20vh;
  width: 100%;
  background-color: white;
}

header nav {
  min-height: 20vh;
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 35px 67px -57px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 35px 67px -57px rgba(187, 187, 187, 0.75);
}

header nav .navContainer {
  height: 100%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navContainer .logo {
  height: 50px;
  width: 50px;
  width: 20%;
}

header nav .navContainer .logo img {
  height: 100%;
  width: 100%;
}

header nav .navContainer .menuItems {
  height: 100%;
}

header nav .navContainer .menuItems ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .navContainer .menuItems li {
  margin-right: 25px;
}

header nav .navContainer .menuItems li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 1;
}

header nav .navContainer .menuItems li a::after {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 100%;
  height: 0;
  z-index: -1;
  background: rgba(0, 0, 255, 0.514);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header nav .navContainer .menuItems li a:hover::after {
  height: 33px;
}

header nav .navContainer .logSigButtons {
  height: 100%;
  width: 20%;
  text-align: center;
  margin-bottom: 8px;
}

header nav .navContainer .logSigButtons button {
  height: 35px;
  width: 115px;
  border-radius: 25px;
  margin-right: 10px;
}

header nav .navContainer .logSigButtons .logIn {
  border: 2px solid #2222a5;
  outline: 0;
  color: #3737c4;
  font-weight: 600;
  background: white;
}

header nav .navContainer .logSigButtons .signUp {
  border: none;
  outline: none;
  background: #050552;
  background: -webkit-gradient(linear, left top, right top, from(#070768), color-stop(54%, #131392));
  background: linear-gradient(90deg, #070768 0%, #131392 54%);
  color: white;
  font-weight: 600;
}

.main {
  min-height: 100%;
  background: white;
}

.main .mainContainer {
  padding: 2%;
}

.main .mainContainer .mainHeading {
  text-align: center;
}

.main .mainContainer .mainHeading h1 {
  font-weight: 400;
  font-size: 2.6rem;
}

.main .mainContainer .mainContent {
  padding: 2% 2% 2% 5%;
}

.main .mainContainer .mainContent .lftPara {
  padding: 55px 0 0 0;
}

.main .mainContainer .mainContent .lftPara p {
  padding-top: 50px;
  font-size: 1.5rem;
}

.main .mainContainer .mainContent .lftPara button {
  height: 30px;
  width: 105px;
  border-radius: 25px;
  margin-top: 25px;
}

.main .mainContainer .mainContent .lftPara .learMr {
  border: none;
  outline: none;
  background: #0b0b88;
  background: -webkit-gradient(linear, left top, right top, from(#0b0b83), color-stop(54%, #1414a5));
  background: linear-gradient(90deg, #0b0b83 0%, #1414a5 54%);
  color: white;
  font-weight: 600;
}

.main .mainContainer .mainContent .rytImage .rytImageContainer {
  height: 100%;
  width: 100%;
}

.main .mainContainer .mainContent .rytImage .rytImageContainer img {
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.aboutUs {
  min-height: 90vh;
  background: white;
}

.aboutUs .aboutUsContainer {
  padding: 2% 5% 2% 5%;
}

.aboutUs .aboutUsContainer .abtHeading {
  text-align: center;
}

.aboutUs .aboutUsContainer .abtHeading h1 {
  font-weight: 400;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.aboutUs .aboutUsContainer .abtContent {
  position: relative;
  padding-top: 50px;
  z-index: 0;
}

.aboutUs .aboutUsContainer .abtContent .lftPara {
  padding: 95px 0 0 0;
}

.aboutUs .aboutUsContainer .abtContent .lftPara p {
  font-size: 1.3rem;
  color: white;
}

.aboutUs .aboutUsContainer .abtContent .lftPara .visit {
  margin: 55px 0;
  position: relative;
  color: white;
}

.aboutUs .aboutUsContainer .abtContent .lftPara .visit .arowCircle {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 52%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: white;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: black;
  -webkit-animation: bgBlur 1.5s infinite ease-in-out;
          animation: bgBlur 1.5s infinite ease-in-out;
}

.aboutUs .aboutUsContainer .abtContent .lftPara .visit .arowCircle a {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes bgBlur {
  from {
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-box-shadow: 0px 2px 51px -9px white;
    box-shadow: 0px 2px 51px -9px white;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes bgBlur {
  from {
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-box-shadow: 0px 2px 51px -9px white;
    box-shadow: 0px 2px 51px -9px white;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.aboutUs .aboutUsContainer .abtContent .rytImage .rytImageContainer {
  height: 400px;
  width: 400px;
}

.aboutUs .aboutUsContainer .abtContent .rytImage .rytImageContainer img {
  -webkit-transform: translateY(-42px);
          transform: translateY(-42px);
  height: 150%;
  width: 150%;
}

.aboutUs .aboutUsContainer .skewedBg {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 45px;
  right: -67px;
  background: -webkit-gradient(linear, left top, right top, from(#363280), color-stop(#5b54d7), to(#6c67d4));
  background: linear-gradient(to right, #363280, #5b54d7, #6c67d4);
  height: 90vh;
  width: 100vw;
  -webkit-transform: skew(0deg, 10deg);
          transform: skew(0deg, 10deg);
  border: none;
}

.pdtSol {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  background: white;
}

.pdtSol .pdtSolContainer {
  padding: 3% 5%;
}

.pdtSol .pdtSolContainer .pdtSolHeading {
  text-align: center;
}

.pdtSol .pdtSolContainer .pdtSolHeading h1 {
  font-weight: 400;
}

.pdtSol .pdtSolContainer .pdtSolHeading p {
  padding-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.pdtSol .pdtSolContainer .pdtContent {
  padding: 5% 6% 0 6%;
}

.pdtSol .pdtSolContainer .pdtContent .item {
  padding-bottom: 100px;
}

.pdtSol .pdtSolContainer .pdtContent .item .pdtBtn .pdtIco {
  margin-top: 6.5px;
  margin-left: 2px;
}

.pdtSol .pdtSolContainer .pdtContent .item .lfRtimgContainer {
  height: 300px;
  width: 300px;
}

.pdtSol .pdtSolContainer .pdtContent .item .lfRtimgContainer img {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  height: 130%;
  width: 130%;
}

.pdtSol .pdtSolContainer .pdtContent .item1 {
  position: relative;
}

.pdtSol .pdtSolContainer .pdtContent .item1 button {
  margin-top: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #0b5e94;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.pdtSol .pdtSolContainer .pdtContent .item1 .lineArrow {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 20%;
}

.pdtSol .pdtSolContainer .pdtContent .item1 .lineArrow img {
  height: 155%;
  width: 155%;
}

.pdtSol .pdtSolContainer .pdtContent .item2 button {
  margin-top: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #49be55;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.pdtSol .pdtSolContainer .pdtContent .item2 .lineArrow {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 25%;
}

.pdtSol .pdtSolContainer .pdtContent .item2 .lineArrow img {
  height: 155%;
  width: 155%;
}

.pdtSol .pdtSolContainer .pdtContent .item3 {
  margin-top: 20px;
  padding-bottom: 0;
}

.pdtSol .pdtSolContainer .pdtContent .item3 button {
  margin-top: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #e0157d;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.pdtSol .pdtSolContainer .pdtContent .rytPara,
.pdtSol .pdtSolContainer .pdtContent .lftPara {
  text-align: center;
}

.pdtSol .pdtSolContainer .pdtContent .rytPara h5,
.pdtSol .pdtSolContainer .pdtContent .lftPara h5 {
  font-weight: 700;
  font-size: 1.5rem;
}

.pdtSol .pdtSolContainer .pdtContent .rytPara p,
.pdtSol .pdtSolContainer .pdtContent .lftPara p {
  padding: 2.5% 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.facilities {
  min-height: 100%;
  background: white;
  overflow-x: hidden;
}

.facilities .facilitiesHeading {
  text-align: center;
}

.facilities .facilitiesHeading h1 {
  font-weight: 400;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.facilities .bgDeveloperImage {
  position: relative;
  height: 120vh;
  width: 120vw;
  right: 10%;
  overflow-x: hidden;
}

.facilities .bgDeveloperImage img {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.facilities .facilitiesContainer {
  padding: 2% 0 2% 5%;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 0;
  width: 100%;
}

.facilities .facilitiesContainer .facilitiesContent {
  padding-top: 50px;
  width: 100%;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont {
  padding: 130px 0 0 90px;
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
  width: 100%;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont ul {
  list-style: none;
  width: 105%;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont ul li {
  color: white;
  font-size: 1rem;
  padding: 10px 0;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont ul li .listCircle {
  margin-right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont .btnCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont .btnCont .apiRef {
  margin-right: 20px;
  position: relative;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont .btnCont .apiRef button {
  height: 70px;
  width: 170px;
  border-radius: 10px;
  border: none;
  background: #5252df;
  color: white;
  font-size: 1.1rem;
  -webkit-box-shadow: 0px 12px 70px -24px black;
  box-shadow: 0px 12px 70px -24px black;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont .btnCont .apiRef .btnCircle {
  position: absolute;
  left: 75%;
  top: 75%;
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 12px 99px -24px white;
  box-shadow: 0px 12px 99px -24px white;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont .btnCont .docu {
  margin-right: 20px;
  position: relative;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont .btnCont .docu button {
  height: 70px;
  width: 170px;
  border-radius: 10px;
  border: none;
  background: #5252df;
  color: white;
  font-size: 1.1rem;
  -webkit-box-shadow: 0px 12px 70px -24px black;
  box-shadow: 0px 12px 70px -24px black;
}

.facilities .facilitiesContainer .facilitiesContent .rytCont .btnCont .docu .btnCircle {
  position: absolute;
  left: 75%;
  top: 75%;
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 12px 99px -24px white;
  box-shadow: 0px 12px 99px -24px white;
}

.topChoices {
  position: relative;
  z-index: 2;
  min-height: 80vh;
}

.topChoices .topChoiceContainer {
  padding: 0 0% 3% 0%;
}

.topChoices .topChoiceContainer .topChoiceHeading {
  text-align: center;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

.topChoices .topChoiceContainer .topChoiceHeading h1 {
  font-weight: 400;
}

.topChoices .topChoiceContainer .topChoiceContent {
  padding: 2% 0%;
  background: url("../ASSETS/HomePage Illustrations/HomePage_Customer_Numbers_BG.svg");
}

.topChoices .topChoiceContainer .topChoiceContent .contentCards {
  margin: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.topChoices .topChoiceContainer .topChoiceContent .contentCards .card {
  position: relative;
  margin: 0 25px;
  padding: 8px;
  text-align: center;
  font-size: 0.9rem;
  -webkit-box-shadow: 2px 13px 55px -38px #1e0ab0;
  box-shadow: 2px 13px 55px -38px #1e0ab0;
  border: 1px solid white;
}

.topChoices .topChoiceContainer .topChoiceContent .contentCards .card img {
  position: absolute;
  height: 35%;
  top: -15%;
  left: 0;
}

.topChoices .topChoiceContainer .topChoiceContent .contentCards .card .card-body {
  padding-top: 50px;
}

.topChoices .topChoiceContainer .topChoiceContent .contentCards .card .card-body .card-title {
  font-size: 3.3rem;
}

.topChoices .topChoiceContainer .topChoiceContent .contentCards .card .card-body .card-text {
  font: 0.7rem;
  font-weight: 600;
  color: #1f1f1f;
}

.topChoices .topChoiceContainer .topChoiceContent .contentCards .card::after {
  content: "";
  height: 6px;
  left: 90%;
  width: 40px;
  position: absolute;
  background: #1e0ab0;
  -webkit-box-shadow: 2px 13px 55px -38px #1e0ab0;
  box-shadow: 2px 13px 55px -38px #1e0ab0;
}

.bestProducts {
  position: relative;
  z-index: 2;
  min-height: 80vh;
  background: white;
}

.bestProducts .bstPdtContainer {
  padding: 3% 0;
}

.bestProducts .bstPdtContainer .bstPdtHeading {
  text-align: center;
}

.bestProducts .bstPdtContainer .bstPdtHeading h1 {
  font-weight: 400;
}

.bestProducts .bstPdtContainer .bstPdtContent {
  position: relative;
  padding: 4% 5%;
}

.bestProducts .bstPdtContainer .bstPdtContent .bstPdtSVG {
  position: absolute;
  overflow: hidden;
  height: 90vh;
  z-index: -99;
  top: -150px;
  right: 0;
  width: 100%;
}

.bestProducts .bstPdtContainer .bstPdtContent .bstPdtSVG img {
  height: 100%;
  width: 100%;
}

.bestProducts .bstPdtContainer .bstPdtContent .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bestProducts .bstPdtContainer .bstPdtContent .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.testimonals {
  position: relative;
  z-index: 2;
  min-height: 80vh;
  background: #ffffff;
}

.testimonals .tstContainer {
  padding: 1% 0;
}

.testimonals .tstContainer .halfRecBg {
  position: absolute;
  height: 40vh;
  top: 40px;
  left: -50px;
}

.testimonals .tstContainer .tstHeading {
  text-align: center;
}

.testimonals .tstContainer .tstHeading h1 {
  font-weight: 400;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.testimonals .tstContainer .tstContent {
  padding: 4% 5% 0 5%;
  height: 100%;
  background: url("../ASSETS/HomePage Illustrations/HomePage_Customer_Numbers_BG.svg");
  background-size: contain;
}

.testimonals .tstContainer .tstContent .lftCont {
  padding: 5% 0 0 0;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25%;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .carousel-item {
  height: 50vh;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card {
  text-align: center;
  position: relative;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card .card-img-top {
  margin: 10px auto;
  font-size: 1.5rem;
  color: #5851cf;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card .card-title {
  font-size: 1.5rem;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card .card-text {
  font-weight: 500;
  font-size: 1.05rem;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card .authName {
  font-size: 0.85rem;
  padding: 10px 0 0 0;
  font-weight: 500;
  margin: 0;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card .text-muted {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card .star {
  color: yellow;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-inner .card::after {
  content: "";
  position: absolute;
  width: 45px;
  top: 20%;
  right: -6%;
  height: 8px;
  background: #5851cf;
}

.testimonals .tstContainer .tstContent .lftCont .carousel-control-icon {
  color: black;
  font-size: 2rem;
}

.testimonals .tstContainer .tstContent .rytCont .rytImageContainer {
  height: 100%;
  width: 100%;
}

.testimonals .tstContainer .tstContent .rytCont .rytImageContainer img {
  height: 100%;
  width: 100%;
}

.mailLetter {
  min-height: 100%;
  background: #ffffff;
}

.mailLetter .mailLetContainer {
  padding: 5% 0 0 0;
}

.mailLetter .mailLetContainer .mailLetContent {
  padding: 3% 5%;
}

.mailLetter .mailLetContainer .mailLetContent .lftCont .lftImageContainer {
  height: 250px;
  width: 250px;
}

.mailLetter .mailLetContainer .mailLetContent .lftCont .lftImageContainer img {
  height: 160%;
  width: 160%;
  -webkit-transform: translate(100px, -110px);
          transform: translate(100px, -110px);
}

.mailLetter .mailLetContainer .mailLetContent .rytCont {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

.mailLetter .mailLetContainer .mailLetContent .rytCont p {
  color: #47479e;
  font-weight: 500;
}

.mailLetter .mailLetContainer .mailLetContent .rytCont .inpBut {
  padding-top: 10px;
}

.mailLetter .mailLetContainer .mailLetContent .rytCont .inpBut input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgba(61, 61, 218, 0.349);
  width: 52%;
  height: 30px;
  outline: none;
}

.mailLetter .mailLetContainer .mailLetContent .rytCont .inpBut button {
  margin-left: 10px;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0px 12px 76px 1px #1bc5db;
  box-shadow: 0px 12px 76px 1px #1bc5db;
  outline: none;
}

.footer {
  height: 100%;
  padding: 4% 2% 2% 4%;
  background: url("../ASSETS/HomePage Illustrations/Background.svg");
  background-size: contain;
}

.footer .footerContent {
  position: relative;
}

.footer .footerContent .halfRecBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: -10%;
  right: -2%;
  position: absolute;
}

.footer .footerContent .halfRecBg img {
  overflow-x: hidden;
  overflow-y: visible;
  height: 100%;
  width: 100%;
}

.footer .footerContent .footerLogo {
  height: 50px;
  margin-bottom: 20px;
}

.footer .footerContent .footerLogo img {
  height: 100%;
}

.footer .footerContent .footerPara {
  font-weight: 500;
  width: 95%;
  font-size: 0.95rem;
}

.footer .footerContent .middleFooter {
  margin-top: 50px;
}

.footer .footerContent .middleFooter .footerConHeading {
  font-size: 1.3rem;
}

.footer .footerContent .middleFooter .footerConHeading h5 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .footerConHeading h5::before {
  position: absolute;
  content: "";
  margin: 5px 0;
  height: 6px;
  width: 18%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter ul {
  list-style: none;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #252525;
  font-weight: 500;
  cursor: pointer;
}

.footer .footerContent .middleFooter ul li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .footerContent .middleFooter ul li:hover {
  color: blue;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer .footerContent .middleFooter .contactdetails {
  width: 80%;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading {
  padding-bottom: 10px;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 8%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter .contactdetails .footDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.9rem;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .lftDetail {
  width: 100%;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .rytDetail {
  margin-left: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerContent .footerConHeading {
  font-size: 1rem;
}

.footer .footerContent .rytFooter {
  margin-top: 50px;
}

.footer .footerContent .rytFooter .footerConHeading2 h4 {
  position: relative;
  color: white;
  font-weight: 600;
}

.footer .footerContent .rytFooter .footerConHeading2 h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 18%;
  background: #6e6ef8;
  top: 100%;
  left: 0;
}

.footer .footerContent .rytFooter .footerSocial {
  padding-top: 25px;
}

.footer .footerContent .rytFooter .footerSocial img {
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=landing.css.map */