@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  background: white;
}

header {
  min-height: 20vh;
  width: 100%;
  background-color: white;

  nav {
    min-height: 20vh;
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 35px 67px -57px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 35px 67px -57px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 35px 67px -57px rgba(187, 187, 187, 0.75);

    .navContainer {
      height: 100%;
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        height: 50px;
        width: 50px;
        width: 20%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .menuItems {
        height: 100%;
        ul {
          position: relative;
          display: flex;
          flex-direction: row;
          list-style: none;
          justify-content: center;
        }
        li {
          margin-right: 25px;

          a {
            position: relative;
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: 600;
            z-index: 1;
          }
          a::after {
            position: absolute;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: ".";
            color: transparent;
            width: 100%;
            height: 0;
            z-index: -1;
            background: rgba(0, 0, 255, 0.514);
            transition: all 0.5s linear;
          }
          a:hover::after {
            height: 33px;
          }
        }
      }

      .logSigButtons {
        height: 100%;
        width: 20%;
        text-align: center;
        margin-bottom: 8px;

        button {
          height: 35px;
          width: 115px;
          border-radius: 25px;
          margin-right: 10px;
        }
        .logIn {
          border: 2px solid rgb(34, 34, 165);
          outline: 0;
          color: rgb(55, 55, 196);
          font-weight: 600;
          background: white;
        }
        .signUp {
          border: none;
          outline: none;
          background: rgb(5, 5, 82);
          background: linear-gradient(
            90deg,
            rgb(7, 7, 104) 0%,
            rgb(19, 19, 146) 54%
          );
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}

.main {
  min-height: 100%;
  background: white;

  .mainContainer {
    padding: 2%;

    .mainHeading {
      text-align: center;

      h1 {
        font-weight: 400;
        font-size: 2.6rem;
      }
    }

    .mainContent {
      padding: 2% 2% 2% 5%;

      .lftPara {
        padding: 55px 0 0 0;

        p {
          padding-top: 50px;
          font-size: 1.5rem;
        }

        button {
          height: 30px;
          width: 105px;
          border-radius: 25px;
          margin-top: 25px;
        }
        .learMr {
          border: none;
          outline: none;
          background: rgb(11, 11, 136);
          background: linear-gradient(
            90deg,
            rgb(11, 11, 131) 0%,
            rgb(20, 20, 165) 54%
          );
          color: white;
          font-weight: 600;
        }
      }
      .rytImage {
        .rytImageContainer {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
            transform: translateY(-100px);
          }
        }
      }
    }
  }
}

.aboutUs {
  min-height: 90vh;
  background: white;

  .aboutUsContainer {
    padding: 2% 5% 2% 5%;

    .abtHeading {
      text-align: center;

      h1 {
        font-weight: 400;
        transform: translateY(-50px);
      }
    }

    .abtContent {
      position: relative;
      padding-top: 50px;
      z-index: 0;

      .lftPara {
        padding: 95px 0 0 0;

        p {
          font-size: 1.3rem;
          color: white;
        }
        .visit {
          margin: 55px 0;
          position: relative;
          color: white;
          .arowCircle {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 52%;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: black;
            animation: bgBlur 1.5s infinite ease-in-out;
            a {
              text-decoration: none;
              color: black;
            }
          }

          @keyframes bgBlur {
            from {
              -webkit-box-shadow: 0;
              -moz-box-shadow: 0;
              box-shadow: 0;
              transform: scale(1);
            }
            to {
              -webkit-box-shadow: 0px 2px 51px -9px rgba(255, 255, 255, 1);
              -moz-box-shadow: 0px 2px 51px -9px rgba(255, 255, 255, 1);
              box-shadow: 0px 2px 51px -9px rgba(255, 255, 255, 1);
              transform: scale(1.1);
            }
          }
        }
      }
      .rytImage {
        .rytImageContainer {
          height: 400px;
          width: 400px;
          img {
            transform: translateY(-42px);
            height: 150%;
            width: 150%;
          }
        }
      }
    }
    .skewedBg {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      top: 45px;
      right: -67px;
      background: linear-gradient(to right, #363280, #5b54d7, #6c67d4);
      height: 90vh;
      width: 100vw;
      transform: skew(0deg, 10deg);
      border: none;
    }
    // .abtContent::before {
    //   content: "";
    //   position: absolute;
    //   top: 500px;
    //   right: -70px;
    //   background: rgb(255, 255, 255);
    //   height: 30vh;
    //   width: 100vw;
    // }
  }
}

.pdtSol {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  background: white;

  .pdtSolContainer {
    padding: 3% 5%;

    .pdtSolHeading {
      text-align: center;

      h1 {
        font-weight: 400;
      }
      p {
        padding-top: 20px;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .pdtContent {
      padding: 5% 6% 0 6%;

      .item {
        padding-bottom: 100px;
        .pdtBtn {
          .pdtIco {
            margin-top: 6.5px;
            margin-left: 2px;
          }
        }
        .lfRtimgContainer {
          height: 300px;
          width: 300px;
          img {
            transform: translateY(-100px);
            height: 130%;
            width: 130%;
          }
        }
      }
      .item1 {
        position: relative;
        button {
          margin-top: 30px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: #0b5e94;
          border: none;
          color: white;
          font-size: 1.3rem;
        }

        .lineArrow {
          position: absolute;
          height: 400px;
          width: 400px;
          left: 20%;
          img {
            height: 155%;
            width: 155%;
          }
        }
      }
      .item2 {
        button {
          margin-top: 30px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: #49be55;
          border: none;
          color: white;
          font-size: 1.3rem;
        }
        .lineArrow {
          position: absolute;
          height: 400px;
          width: 400px;
          left: 25%;
          img {
            height: 155%;
            width: 155%;
          }
        }
      }
      .item3 {
        margin-top: 20px;
        padding-bottom: 0;
        button {
          margin-top: 30px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: #e0157d;
          border: none;
          color: white;
          font-size: 1.3rem;
        }
      }

      .rytPara,
      .lftPara {
        text-align: center;

        h5 {
          font-weight: 700;
          font-size: 1.5rem;
        }
        p {
          padding: 2.5% 0;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
  }
}

.facilities {
  min-height: 100%;
  background: white;
  overflow-x: hidden;
  .facilitiesHeading {
    text-align: center;

    h1 {
      font-weight: 400;
      transform: translateY(-10px);
    }
  }

  .bgDeveloperImage {
    position: relative;
    height: 120vh;
    width: 120vw;
    right: 10%;
    overflow-x: hidden;
    img {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }
  }

  .facilitiesContainer {
    padding: 2% 0 2% 5%;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 0;
    width: 100%;

    .facilitiesContent {
      padding-top: 50px;
      width: 100%;

      // .lftCont {
      //   .lftImageContainer {
      //     height: 100%;
      //     width: 100%;
      //     img {
      //       height: 100%;
      //       width: 100%;
      //     }
      //   }
      // }
      .rytCont {
        padding: 130px 0 0 90px;
        transform: translate(10px, 20px);
        width: 100%;

        ul {
          list-style: none;
          width: 105%;

          li {
            color: white;
            font-size: 1rem;
            padding: 10px 0;
            font-weight: 600;
            display: flex;
            align-items: center;
            .listCircle {
              margin-right: 15px;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              background: white;
              color: black;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .btnCont {
          display: flex;

          .apiRef {
            margin-right: 20px;
            position: relative;

            button {
              height: 70px;
              width: 170px;
              border-radius: 10px;
              border: none;
              background: rgb(82, 82, 223);
              color: white;
              font-size: 1.1rem;
              -webkit-box-shadow: 0px 12px 70px -24px rgb(0, 0, 0);
              -moz-box-shadow: 0px 12px 70px -24px rgb(0, 0, 0);
              box-shadow: 0px 12px 70px -24px rgb(0, 0, 0);
            }
            .btnCircle {
              position: absolute;
              left: 75%;
              top: 75%;
              height: 40px;
              width: 40px;
              font-size: 1.2rem;
              border-radius: 50%;
              background: white;
              display: flex;
              justify-content: center;
              align-items: center;
              -webkit-box-shadow: 0px 12px 99px -24px rgba(255, 255, 255, 1);
              -moz-box-shadow: 0px 12px 99px -24px rgba(255, 255, 255, 1);
              box-shadow: 0px 12px 99px -24px rgba(255, 255, 255, 1);
            }
          }
          .docu {
            margin-right: 20px;
            position: relative;

            button {
              height: 70px;
              width: 170px;
              border-radius: 10px;
              border: none;
              background: rgb(82, 82, 223);
              color: white;
              font-size: 1.1rem;
              -webkit-box-shadow: 0px 12px 70px -24px rgb(0, 0, 0);
              -moz-box-shadow: 0px 12px 70px -24px rgb(0, 0, 0);
              box-shadow: 0px 12px 70px -24px rgb(0, 0, 0);
            }
            .btnCircle {
              position: absolute;
              left: 75%;
              top: 75%;
              height: 40px;
              width: 40px;
              font-size: 1.2rem;
              border-radius: 50%;
              background: white;
              display: flex;
              justify-content: center;
              align-items: center;
              -webkit-box-shadow: 0px 12px 99px -24px rgba(255, 255, 255, 1);
              -moz-box-shadow: 0px 12px 99px -24px rgba(255, 255, 255, 1);
              box-shadow: 0px 12px 99px -24px rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
  }
}

.topChoices {
  position: relative;
  z-index: 2;
  min-height: 80vh;

  .topChoiceContainer {
    padding: 0 0% 3% 0%;

    .topChoiceHeading {
      text-align: center;
      transform: translateY(-45px);

      h1 {
        font-weight: 400;
      }
    }
    .topChoiceContent {
      padding: 2% 0%;
      background: url("../ASSETS/HomePage Illustrations/HomePage_Customer_Numbers_BG.svg");

      .contentCards {
        margin: 50px 10px;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .card {
          position: relative;
          margin: 0 25px;
          padding: 8px;
          text-align: center;
          font-size: 0.9rem;
          -webkit-box-shadow: 2px 13px 55px -38px rgba(30, 10, 176, 1);
          -moz-box-shadow: 2px 13px 55px -38px rgba(30, 10, 176, 1);
          box-shadow: 2px 13px 55px -38px rgba(30, 10, 176, 1);
          border: 1px solid rgb(255, 255, 255);

          img {
            position: absolute;
            height: 35%;
            top: -15%;
            left: 0;
          }
          .card-body {
            padding-top: 50px;

            .card-title {
              font-size: 3.3rem;
            }
            .card-text {
              font: 0.7rem;
              font-weight: 600;
              color: rgb(31, 31, 31);
            }
          }
        }
        .card::after {
          content: "";
          height: 6px;
          left: 90%;
          width: 40px;
          position: absolute;
          background: rgba(30, 10, 176, 1);
          -webkit-box-shadow: 2px 13px 55px -38px rgba(30, 10, 176, 1);
          -moz-box-shadow: 2px 13px 55px -38px rgba(30, 10, 176, 1);
          box-shadow: 2px 13px 55px -38px rgba(30, 10, 176, 1);
        }
      }
    }
  }
}

.bestProducts {
  position: relative;
  z-index: 2;
  min-height: 80vh;
  background: white;

  .bstPdtContainer {
    padding: 3% 0;

    .bstPdtHeading {
      text-align: center;

      h1 {
        font-weight: 400;
      }
    }
    .bstPdtContent {
      position: relative;
      padding: 4% 5%;

      .bstPdtSVG {
        position: absolute;
        overflow: hidden;
        height: 90vh;
        z-index: -99;
        top: -150px;
        right: 0;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
      }
    }
  }
}

.testimonals {
  position: relative;
  z-index: 2;
  min-height: 80vh;
  background: #ffffff;

  .tstContainer {
    padding: 1% 0;
    .halfRecBg {
      position: absolute;
      height: 40vh;
      top: 40px;
      left: -50px;
    }

    .tstHeading {
      text-align: center;

      h1 {
        font-weight: 400;
        transform: translateY(-30px);
      }
    }
    .tstContent {
      padding: 4% 5% 0 5%;
      height: 100%;
      background: url("../ASSETS/HomePage Illustrations/HomePage_Customer_Numbers_BG.svg");
      background-size: contain;

      .lftCont {
        padding: 5% 0 0 0;
        .carousel-inner {
          height: 100%;

          display: flex;
          margin-left: 25%;
          .carousel-item {
            height: 50vh;
          }
          .card {
            text-align: center;
            position: relative;

            .card-img-top {
              margin: 10px auto;
              font-size: 1.5rem;
              color: #5851cf;
            }
            .card-title {
              font-size: 1.5rem;
            }
            .card-text {
              font-weight: 500;
              font-size: 1.05rem;
            }
            .authName {
              font-size: 0.85rem;
              padding: 10px 0 0 0;
              font-weight: 500;
              margin: 0;
            }
            .text-muted {
              margin: 0;
              padding: 0;
              font-size: 0.7rem;
            }
            .star {
              color: yellow;
            }
          }
          .card::after {
            content: "";
            position: absolute;
            width: 45px;
            top: 20%;
            right: -6%;
            height: 8px;
            background: #5851cf;
          }
        }

        .carousel-control-icon {
          color: rgb(0, 0, 0);
          font-size: 2rem;
        }
      }
      .rytCont {
        .rytImageContainer {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

.mailLetter {
  min-height: 100%;
  background: #ffffff;

  .mailLetContainer {
    padding: 5% 0 0 0;

    .mailLetContent {
      padding: 3% 5%;
      .lftCont {
        .lftImageContainer {
          height: 250px;
          width: 250px;
          img {
            height: 160%;
            width: 160%;
            transform: translate(100px, -110px);
          }
        }
      }
      .rytCont {
        padding-top: 40px;
        position: relative;
        z-index: 1;
        p {
          color: rgb(71, 71, 158);
          font-weight: 500;
        }
        .inpBut {
          padding-top: 10px;

          input {
            padding: 10px;
            border: none;
            border-radius: 20px;
            background: rgba(61, 61, 218, 0.349);
            width: 52%;
            height: 30px;
            outline: none;
          }
          button {
            margin-left: 10px;
            height: 35px;
            width: 35px;
            border: none;
            border-radius: 50%;
            background: white;
            -webkit-box-shadow: 0px 12px 76px 1px rgba(27, 197, 219, 1);
            -moz-box-shadow: 0px 12px 76px 1px rgba(27, 197, 219, 1);
            box-shadow: 0px 12px 76px 1px rgba(27, 197, 219, 1);
            outline: none;
          }
        }
      }
    }
  }
}

//////////////////
.footer {
  height: 100%;
  padding: 4% 2% 2% 4%;
  background: url("../ASSETS/HomePage Illustrations/Background.svg");
  background-size: contain;

  .footerContent {
    position: relative;

    .halfRecBg {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      bottom: -10%;
      right: -2%;
      position: absolute;
      img {
        overflow-x: hidden;
        overflow-y: visible;
        height: 100%;
        width: 100%;
      }
    }
    .footerLogo {
      height: 50px;
      margin-bottom: 20px;
      img {
        height: 100%;
      }
    }
    .footerPara {
      font-weight: 500;
      width: 95%;
      font-size: 0.95rem;
    }

    .middleFooter {
      margin-top: 50px;

      .footerConHeading {
        font-size: 1.3rem;
        h5 {
          position: relative;
          font-weight: 700;
        }
        h5::before {
          position: absolute;
          content: "";
          margin: 5px 0;
          height: 6px;
          width: 18%;
          background: rgba(9, 9, 121, 1);
          top: 100%;
          left: 0;
        }
      }

      ul {
        list-style: none;
        padding-top: 20px;
        font-size: 0.9rem;
        color: rgb(37, 37, 37);
        font-weight: 500;
        cursor: pointer;

        li {
          transition: all 0.5s ease;
        }
        li:hover {
          color: blue;
          transform: scale(1.05);
        }
      }

      .contactdetails {
        .footerConHeading {
          padding-bottom: 10px;
          h4 {
            position: relative;
            font-weight: 700;
          }
          h4::after {
            position: absolute;
            margin: 5px 0;
            content: "";
            height: 6px;
            width: 8%;
            background: rgba(9, 9, 121, 1);
            top: 100%;
            left: 0;
          }
        }
        width: 80%;

        .footDetails {
          display: flex;
          flex-direction: row;
          font-size: 0.9rem;

          .lftDetail {
            width: 100%;
          }

          .rytDetail {
            margin-left: 5%;
            width: 80%;

            display: flex;
            flex-direction: column;
          }
        }
      }
    }

    .footerConHeading {
      font-size: 1rem;
    }

    .rytFooter {
      margin-top: 50px;

      .footerConHeading2 {
        h4 {
          position: relative;
          color: rgb(255, 255, 255);
          font-weight: 600;
        }
        h4::after {
          position: absolute;
          margin: 5px 0;
          content: "";
          height: 6px;
          width: 18%;
          background: rgb(110, 110, 248);
          top: 100%;
          left: 0;
        }
      }
      .footerSocial {
        padding-top: 25px;
        img {
          height: 30px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

/////////////////
