@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

nav {
  height: 100%;
  width: 100%;
  color: wheat;
  padding: 10px 30px;
}

nav .navWrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  font-weight: 500;
}

nav .navWrapper .navLogo {
  height: 80px;
  width: 250px;
}

nav .navWrapper .navLogo img {
  height: 100%;
  width: 100%;
}

nav .navWrapper .navLinks {
  margin-top: 15px;
}

nav .navWrapper .navLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.2rem;
}

nav .navWrapper .navLinks li {
  margin-right: 20px;
}

nav .navWrapper .navLinks li a {
  text-decoration: none;
  color: black;
}

nav .navWrapper .navLinks li a:hover {
  border-bottom: 2px solid blue;
}

nav .navWrapper .navUser {
  height: 100px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .navWrapper .navUser .userImage {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userImage img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

nav .navWrapper .navUser .userName {
  width: 150px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 10px;
}

nav .navWrapper .navUser .userCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
}

.header {
  height: 30vh;
  background: blue;
}

.header .aboutBanner {
  height: 70%;
  background: #020024;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7f63ff),
    color-stop(41%, #1414ad),
    to(#1f1a80)
  );
  background: linear-gradient(90deg, #7f63ff 0%, #1414ad 41%, #1f1a80 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#7f63ff",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
}

.header .breadCrumbs {
  height: 30%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 2px 15px 42px -26px #2c15d9;
  box-shadow: 2px 15px 42px -26px #2c15d9;
  color: #2c15d9;
  font-size: 1.3rem;
}

.header .breadCrumbs .rightArrow {
  margin: 3px 10px 0 10px;
}

.main {
  min-height: 80vh;
}

.main .mainContainer {
  padding: 5% 5%;
}

.main .mainContainer .mainContent {
  text-align: center;
}

.main .mainContainer .mainHeading {
  padding-bottom: 15px;
}

.main .mainContainer .srchButton {
  margin-left: 22%;
}

.main .mainContainer .srchButton input {
  height: 40px;
  width: 40%;
  padding-left: 10px;
  border: 2px solid #39399b;
  border-radius: 8px;
  outline: none;
}

.main .mainContainer .srchButton .searchBtn {
  height: 40px;
  width: 85px;
  border: none;
  background: #39399b;
  color: white;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
}

.main .mainContainer .srchButton .raiseQueryBtn {
  margin-left: 15px;
  height: 40px;
  width: 125px;
  border: none;
  background: #39399b;
  color: white;
  border-radius: 25px;
  font-size: 0.9rem;
  outline: none;
}

.main .mainContainer .srchButton span {
  font-size: 0.9rem;
}

.main .mainContainer .highContainer {
  padding: 0 18%;
}

.main .mainContainer .highContainer .topQury {
  padding: 4% 0;
}

.main .mainContainer .highContainer .topQury h2 {
  padding-bottom: 20px;
}

.main .mainContainer .highContainer .topQury .quryList .quryTabL {
  margin-bottom: 25px;
  height: 70px;
  padding: 6% 5% 5% 5%;
  background: white;
  -webkit-box-shadow: 0px 6px 24px -18px black;
  box-shadow: 0px 6px 24px -18px black;
  border-radius: 8px;
  color: #181ccf;
  font-weight: 500;
  font-size: 1.07rem;
}

.main .mainContainer .highContainer .topQury .quryList .quryTabR {
  margin-bottom: 25px;
  height: 70px;
  padding: 6% 3% 5% 2%;
  background: white;
  -webkit-box-shadow: 0px 6px 24px -18px black;
  box-shadow: 0px 6px 24px -18px black;
  border-radius: 8px;
  color: #181ccf;
  font-weight: 500;
  font-size: 1.07rem;
}

.main .mainContainer .highContainer .themeResources .thmResHeading {
  padding: 10px 0 30px 0;
}

.main .mainContainer .highContainer .themeResources .thmResCards .cardMain {
  height: 150px;
  -webkit-box-shadow: 0px 6px 24px -18px black;
  box-shadow: 0px 6px 24px -18px black;
  padding: 2% 5%;
  margin-bottom: 30px;
  border-radius: 10px;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .cardMain
  .imageSide {
  height: 50px;
  margin-top: 40px;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .cardMain
  .imageSide
  img {
  height: 100%;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .cardMain
  .bodySide {
  text-align: left;
  padding: 3% 0;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .cardMain
  .bodySide
  h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .cardMain
  .bodySide
  .text {
  font-size: 0.9rem;
  font-weight: 500;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .cardMain
  .bodySide
  .small
  a {
  font-size: 0.8rem;
  text-decoration: none;
}

.main .mainContainer .highContainer .themeResources .thmResCards .card {
  margin-bottom: 30px;
  height: 150px;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .card
  .card-body {
  padding: 2px 5px !important;
  text-align: left;
  margin-left: 80px;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .card
  .card-body
  .card-title {
  margin-bottom: 5px;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .card
  .card-body
  .card-text {
  margin-bottom: 5px;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .card
  .cardImage {
  height: 60px;
  max-width: 60px;
}

.main
  .mainContainer
  .highContainer
  .themeResources
  .thmResCards
  .card
  .cardImage
  img {
  height: 100%;
  width: 100%;
}

.footer {
  height: 100%;
  padding: 2%;
  background: #f8f8f8;
}

.footer .footerContent {
  padding-left: 3%;
}

.footer .footerContent .footerPara {
  padding-top: 2%;
  font-weight: 500;
  width: 85%;
}

.footer .footerContent .middleFooter {
  margin-top: 50px;
}

.footer .footerContent .middleFooter .footerConHeading {
  font-size: 1.3rem;
}

.footer .footerContent .middleFooter .footerConHeading h5 {
  position: relative;
  font-weight: 700;
}

.footer .footerContent .middleFooter .footerConHeading h5::before {
  position: absolute;
  content: "";
  margin: 5px 0;
  height: 6px;
  width: 18%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter ul {
  list-style: none;
  padding-top: 20px;
  font-size: 1rem;
  color: #252525;
  font-weight: 500;
  cursor: pointer;
}

.footer .footerContent .middleFooter .contactdetails {
  width: 80%;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading {
  padding-bottom: 10px;
}

.footer .footerContent .middleFooter .contactdetails .footerConHeading h4 {
  position: relative;
  font-weight: 700;
}

.footer
  .footerContent
  .middleFooter
  .contactdetails
  .footerConHeading
  h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 10%;
  background: #090979;
  top: 100%;
  left: 0;
}

.footer .footerContent .middleFooter .contactdetails .footDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .lftDetail {
  width: 100%;
}

.footer .footerContent .middleFooter .contactdetails .footDetails .rytDetail {
  margin-left: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer .footerContent .footerConHeading {
  font-size: 1rem;
}

.footer .footerContent .rytFooter {
  margin-top: 50px;
}

.footer .footerContent .rytFooter .footerConHeading2 h4 {
  position: relative;
  color: #2f2fd1;
  font-weight: 700;
}

.footer .footerContent .rytFooter .footerConHeading2 h4::after {
  position: absolute;
  margin: 5px 0;
  content: "";
  height: 6px;
  width: 18%;
  background: #6e6ef8;
  top: 100%;
  left: 0;
}

.footer .footerContent .rytFooter .footerSocial {
  padding-top: 25px;
}

.footer .footerContent .rytFooter .footerSocial img {
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=support.css.map */
